body {
background: url('../../imags/Kyrserve.gif') no-repeat center center fixed;
-webkit-background-size: 100%;
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
text-align: center;
}
